@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem; /* reduz o tamanho da fonte em telas menores */
    }
    header nav a {
        font-size: 0.9rem; /* reduz o tamanho da fonte dos links de navegação */
    }
    header nav {
        flex-direction: column; /* empilha os links de navegação verticalmente */
        gap: 10px; /* adiciona espaço entre os links */
    }
    .menu-card img{
        height: 150px; /* reduz a altura das imagens em telas menores */
        width: auto; /* mantém a proporção da imagem */
    }
}