*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #fff;
    padding: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.d-flex a{
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}
